{% extends "base.html" %}
{% include 'nav.html' %}
{% block content%}
<style>
  .mapboxgl-popup {
    max-width: 400px;
    max-height: 600px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

</style>
<div id='map'></div>
<script src="/static/blipper.js" charset="utf-8"></script>
<script>
  item = {{ data | safe}};
  mapboxgl.accessToken = 'pk.eyJ1IjoibXBvdHRlciIsImEiOiJjajAxZGltM3UwNjF2MzJsczVnN3R2eTNnIn0._Sj0HRLt8VTQGTojMWYFfQ';
  var map = new mapboxgl.Map({
    container: 'map', // container ID
    style: 'mapbox://styles/mpotter/ckb0u7tty0mxn1impbw3xmu35', // style URL
    center: [-80.844402, 35.222624], // starting position [lng, lat]
    zoom: 13.5, // starting zoom
    bearing: 0
  });

  map.on('load', function() {
    map.addSource('footprints', {
      'type': 'geojson',
      'data': item
    });
    map.addLayer({
      'id': 'footprints',
      'type': 'fill',
      'source': 'footprints',
      'layout': {},
      'paint': {
        'fill-color': [
          'match',
          [
            'get', 'use'
          ],
          'Office',
          '#FF0000',
          'Resi',
          '#00ff00',
          /*other*/
          '#7AD7F0'
        ],
        'fill-opacity': 0.6
      }
    });

    //add layers for blip
    map.addSource('point', {
      "type": "geojson",
      "data": {
        "type": "Point",
        "coordinates": [-80.851514, 35.220001]
      }
    });
    map.addLayer({
      "id": "point",
      "source": "point",
      "type": "circle",
      "paint": {
        "circle-radius": initialRadius,
        "circle-radius-transition": {
          duration: 0
        },
        "circle-opacity-transition": {
          duration: 0
        },
        "circle-color": "#256DFC"
      }
    });
    map.addLayer({
      "id": "point1",
      "source": "point",
      "type": "circle",
      "paint": {
        "circle-radius": initialRadius,
        "circle-color": "#2558BD"
      }
    });
    animateMarker(0);
  });


  // When a click event occurs on a feature in the places layer, open a popup at the
  // location of the feature, with description HTML from its properties.
  map.on('click', 'footprints', function(e) {
    var coordinates = e.features[0].geometry.coordinates[0][0]; // get just the first set of coordinates. Prob better to figure out centerpoint in future
    var name = e.features[0].properties.name;
    var developer = e.features[0].properties.owner;
    var year = e.features[0].properties.deliver;
    var address = e.features[0].properties.address;
    var gfa = e.features[0].properties.rsf.toLocaleString();
    var status = e.features[0].properties.status;
    //var lease = e.features[0].properties.office_prelease.toLocaleString(undefined,{style: 'percent', minimumFractionDigits:1});
    var image = e.features[0].properties.image;
    //var website = e.features[0].properties.website;
    console.log(coordinates);
    console.log(name);
    console.log(developer);
    console.log(year);
    console.log(address);
    console.log(gfa);
    console.log(status);
    console.log("image links?");
    console.log(image);

    // Ensure that if the map is zoomed out such that multiple
    // copies of the feature are visible, the popup appears
    // over the copy being pointed to.
    while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
      coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
    }

    new mapboxgl.Popup()
      .setLngLat(coordinates)
      .setHTML(
        '<div class="card" style="width: 18rem;">' +
        '<img class="card-img-top" alt="Card image cap"' + 'src=' + image + '>' +
        '<div class="card-body">' +
        '<h5 class="card-title">' + name + '</h5>' +
        '<table class="table table-sm table-striped">' +
        '<thead>' +
          '<tr>' +
            '<th scope="col">Category</th>' +
            '<th scope="col">Details</th>' +
          '</tr>' +
        '</thead>' +
        '<tbody>' +
          '<tr>' +
            '<th scope="row">Year</th>' +
            '<td colspan="2">' + year + '</td>' +
          '</tr>' +
          '<tr>' +
            '<th scope="row">Developer</th>' +
            '<td colspan="2">' + developer + '</td>' +
          '</tr>' +
          '<tr>' +
            '<th scope="row">Address</th>' +
            '<td>' + address + '</td>' +
          '</tr>' +
          '<tr>' +
            '<th scope="row">Program</th>' +
            '<td colspan="2">' + gfa + '</td>' +
          '</tr>' +
          '<tr>' +
            '<th scope="row">Status</th>' +
            '<td>' + status + '</td>' +
          '</tr>' +
        '</table>' +
        //'<a href=' + '"'+ website + '"'+ 'target="_blank" class="btn btn-primary">View Website</a>'+
        '</div>' +
        '</div>'
      )
      .addTo(map);
  });

  // Change the cursor to a pointer when the mouse is over the places layer.
  map.on('mouseenter', 'footprints', function() {
    map.getCanvas().style.cursor = 'pointer';
  });

  // Change it back to a pointer when it leaves.
  map.on('mouseleave', 'footprints', function() {
    map.getCanvas().style.cursor = '';
  });

</script>
{% endblock %}
