{% extends "base.html" %}
{% include 'nav.html' %}
{% block content%}
<style>
  .mapboxgl-popup {
    max-width: 400px;
    max-height: 600px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }
  #menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 75px;
    right: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
  }

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
  }

#menu a:last-child {
    border: none;
  }

#menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#menu a.active {
  background-color: #3887be;
  color: #ffffff;
}

#menu a.active:hover {
  background: #3074a4;
}

</style>
<nav id="menu"></nav>
<div id='map'></div>
<script src="/static/blipper.js" charset="utf-8"></script>
<script>
  item = {{ data | safe}};
  cta_isos = {{ cta_isos | safe}};
  union_isos = {{ union_isos | safe}};
  ogilvie_isos = {{ ogilvie_isos | safe}};
  console.log(typeof(cta_isos));
  console.log(cta_isos);
  mapboxgl.accessToken = 'pk.eyJ1IjoibXBvdHRlciIsImEiOiJjajAxZGltM3UwNjF2MzJsczVnN3R2eTNnIn0._Sj0HRLt8VTQGTojMWYFfQ';
  var map = new mapboxgl.Map({
    container: 'map', // container ID
    style: 'mapbox://styles/mpotter/cjsvs21w60gjk1fmovfg87xhb', // style URL
    center: [-87.637929, 41.886113], // starting position [lng, lat]
    zoom: 13.5, // starting zoom
    bearing: 0
  });

  map.on('load', function() {
    map.addSource('footprints', {
      'type': 'geojson',
      'data': item
    });
    map.addLayer({
      'id': 'footprints',
      'type': 'fill',
      'source': 'footprints',
      'layout': {},
      'paint': {
        'fill-color': [
          'match',
          [
            'get', 'use'
          ],
          'Office',
          '#FF0000',
          'Resi',
          '#00ff00',
          /*other*/
          '#7AD7F0'
        ],
        'fill-opacity': 0.6
      }
    });
  //how to add layer for labels
    map.addLayer({
      'id': 'proj_labels',
      'type': 'symbol',
      'source': 'footprints',
      'layout': {},
      'paint': {
        'line-color': '#7AD7F0'
      }
    });
    //add layers for CTA
    map.addSource('cta', {
      'type': 'geojson',
      'data': cta_isos
    });
    map.addLayer({
      'id': 'cta',
      'type': 'fill',
      'source': 'cta',
      'layout': {},
      'paint': {
        'fill-color': [
          'match',
          [
            'get', 'line'
          ],
          'Blue',
          '#00A1DE',
          'Brown',
          '#62361C',
          'Green',
          '#009B3A',
          'Red',
          '#C60E30',
          'Orange',
          '#F9461D',
          /*other*/
          '#7AD7F0'
        ],
        'fill-opacity': 0.33
      }
    });
    //ogilvie isos
    map.addSource('ogilvie', {
      'type': 'geojson',
      'data': ogilvie_isos
    });
    map.addLayer({
      'id': 'ogilvie',
      'type': 'fill',
      'source': 'ogilvie',
      'layout': {},
      'paint': {
        'fill-color': '#ebfb6f',
        'fill-opacity': 0.33,
        'fill-outline-color': '#000000'
      }
    });
    //union isos
    map.addSource('union', {
      'type': 'geojson',
      'data': union_isos
    });
    map.addLayer({
      'id': 'union',
      'type': 'fill',
      'source': 'union',
      'layout': {},
      'paint': {
        'fill-color': '#ebfb6f',
        'fill-opacity': 0.33,
        'fill-outline-color': '#000000'
      }
    });


    //add layers for blip
    map.addSource('point', {
      "type": "geojson",
      "data": {
        "type": "Point",
        "coordinates": [-87.630082, 41.881656]
      }
    });
    map.addLayer({
      "id": "point",
      "source": "point",
      "type": "circle",
      "paint": {
        "circle-radius": initialRadius,
        "circle-radius-transition": {
          duration: 0
        },
        "circle-opacity-transition": {
          duration: 0
        },
        "circle-color": "#256DFC"
      }
    });
    map.addLayer({
      "id": "point1",
      "source": "point",
      "type": "circle",
      "paint": {
        "circle-radius": initialRadius,
        "circle-color": "#2558BD"
      }
    });
    animateMarker(0);
  });


  // When a click event occurs on a feature in the places layer, open a popup at the
  // location of the feature, with description HTML from its properties.
  map.on('click', 'footprints', function(e) {
    var coordinates = e.features[0].geometry.coordinates[0][0]; // get just the first set of coordinates. Prob better to figure out centerpoint in future
    var project = e.features[0].properties.project;
    var developer = e.features[0].properties.developer;
    var year = e.features[0].properties.year;
    var address = e.features[0].properties.address;
    var use = e.features[0].properties.use;
    var gfa = e.features[0].properties.gfa.toLocaleString();
    var status = e.features[0].properties.status;
    //var lease = e.features[0].properties.office_prelease.toLocaleString(undefined,{style: 'percent', minimumFractionDigits:1});
    var image = e.features[0].properties.aws_image;
    //var website = e.features[0].properties.website;
    console.log(project);
    console.log(coordinates);
    console.log("image links?");
    console.log(image);

    // Ensure that if the map is zoomed out such that multiple
    // copies of the feature are visible, the popup appears
    // over the copy being pointed to.
    while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
      coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
    }

    new mapboxgl.Popup()
      .setLngLat(coordinates)
      .setHTML(
        '<div class="card" style="width: 18rem;">' +
        '<img class="card-img-top" alt="Card image cap"' + 'src=' + image + '>' +
        '<div class="card-body">' +
        '<h5 class="card-title">' + project + '</h5>' +
        '<table class="table table-sm table-striped">' +
        '<thead>' +
          '<tr>' +
            '<th scope="col">Category</th>' +
            '<th scope="col">Details</th>' +
          '</tr>' +
        '</thead>' +
        '<tbody>' +
          '<tr>' +
            '<th scope="row">Year</th>' +
            '<td colspan="2">' + year + '</td>' +
          '</tr>' +
          '<tr>' +
            '<th scope="row">Developer</th>' +
            '<td colspan="2">' + developer + '</td>' +
          '</tr>' +
          '<tr>' +
            '<th scope="row">Address</th>' +
            '<td>' + address + '</td>' +
          '</tr>' +
          '<tr>' +
            '<th scope="row">Program</th>' +
            '<td colspan="2">' + gfa + '</td>' +
          '</tr>' +
          '<tr>' +
            '<th scope="row">Status</th>' +
            '<td>' + status + '</td>' +
          '</tr>' +
        '</table>' +
        //'<a href=' + '"'+ website + '"'+ 'target="_blank" class="btn btn-primary">View Website</a>'+
        '</div>' +
        '</div>'
      )
      .addTo(map);
  });

  // Change the cursor to a pointer when the mouse is over the places layer.
  map.on('mouseenter', 'footprints', function() {
    map.getCanvas().style.cursor = 'pointer';
  });

  // Change it back to a pointer when it leaves.
  map.on('mouseleave', 'footprints', function() {
    map.getCanvas().style.cursor = '';
  });

  // Toggle Layer for CTA
  map.on('load', function() {
    // If these two layers have been added to the style,
    // add the toggle buttons.
    if (map.getLayer('cta') && map.getLayer('ogilvie') && map.getLayer('union') && map.getLayer('footprints')) {
      // Enumerate ids of the layers.
      var toggleableLayerIds = ['cta','ogilvie','union','footprints'];
      // Set up the corresponding toggle button for each layer.
      for (var i = 0; i < toggleableLayerIds.length; i++) {
        var id = toggleableLayerIds[i];
        if (!document.getElementById(id)) {
          // Create a link.
          var link = document.createElement('a');
          link.id = id;
          link.href = '#';
          link.textContent = id;
          link.className = 'active';
          // Show or hide layer when the toggle is clicked.
          link.onclick = function(e) {
            var clickedLayer = this.textContent;
            e.preventDefault();
            e.stopPropagation();

            var visibility = map.getLayoutProperty(
              clickedLayer,
              'visibility'
            );

            // Toggle layer visibility by changing the layout object's visibility property.
            if (visibility === 'visible') {
              map.setLayoutProperty(
                clickedLayer,
                'visibility',
                'none'
              );
              this.className = '';
            } else {
              this.className = 'active';
              map.setLayoutProperty(
                clickedLayer,
                'visibility',
                'visible'
              );
            }
          };
          var layers = document.getElementById('menu');
          layers.appendChild(link);
        }
      }
    }
  });

</script>
{% endblock %}
